/* Minimal, moderne Optik */
body { background: #f8f9fb; }
.card { border: 1px solid rgba(0,0,0,.06); }
table td, table th { vertical-align: middle; }

/*Navigationsbalken*/
.navbar.bg-primary {
  background: linear-gradient(135deg, #2e4269 0%, #0082ba 120%) !important;
}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 5px; /*Abstand zur Schrift*/
}
.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute; /*genaue Positionierung des Strichs*/
  bottom: 0; /*Abstand zum Boden*/
  left: 25%; /*Abstand des Strichs von der linken Seite*/
  width: 50%; /*Abstand des Strichs von der rechten Seite*/
  height: 2px; /*Dicke des Strichs*/
  background-color: white; /*Farbe*/
}

.dropdown-toggle.fixed-width {
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown .fixed-width {
  min-width: 200px; /* oder was passenderes */
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-filters {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Custom Button Styles */
.btn-custom-details {
  color: #0082ba !important;
  border-color: #0082ba !important;
}
.btn-custom-details:hover {
  background-color: #0082ba !important;
  color: white !important;
}

.btn-custom-edit {
  color: #636e72 !important;
  border-color: #636e72 !important;
}

.btn-custom-edit:hover {
  background-color: #636e72 !important;
  color: white !important;
}

.btn-custom-delete {
  color: #e9872f !important;
  border-color: #e9872f !important;
}

.btn-custom-delete:hover {
  background-color: #e9872f !important;
  color: white !important;
}

/*Löschen Fenster*/
.modal-header.custom-delete-header {
  background-color: #e9872f !important;
  color: white;
}

.btn-custom-danger {
  background-color: #e9872f !important;
  border-color: #e9872f !important;
  color: white !important;
}

.btn-custom-newCategorieChallenge {
  background-color: #0082ba !important;
  border-color: #0082ba !important;
  color: white !important;
}

.btn-custom-newCategorieChallenge:hover {
  background-color: color-mix(in srgb, #0082ba 85%, black) !important;
  border-color: color-mix(in srgb, #0082ba 85%, black) !important;
}

.btn-custom-safe {
  background-color: #0082ba !important;
  border-color: #0082ba !important;
  color: white !important;
}

.btn-custom-safe:hover {
  background-color: color-mix(in srgb, #0082ba 85%, black) !important;
  border-color: color-mix(in srgb, #0082ba 85%, black) !important;
}

/*Filter Fenster*/
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
  color: inherit !important;
}

/*Schriften*/
.custom-team-color {
  color: #0082ba;
}