<% pageTitle="Aufgabenpakete" %>

  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="h4 m-0">Aufgabenpakete</h2>
    <a href="/aufgabenpakete/new" class="btn btn-custom-newCategorieChallenge">+ Neues Aufgabenpaket</a>
  </div>


  <!-- Filter und Suchfunktion - Partial -->
  <%- include('../../partials/filter_search', {

    showSchuljahr: false,
    showKategorie: true,
    showSearch: true,

    kategorien,
    activeKategorie,
    kategorieSelectId: 'kategorienFilter',
    searchContainerId: 'searchContainer',
    searchInputId: 'aufgabenpaketeSearch',
    searchTerm
  }) %>



    <!-- CARDS LAYOUT - NUR DATENSÄTZE -->
    <div class="row" id="aufgabenpaketeCardsContainer">
      <% if (aufgabenpakete.length===0) { %>
        <div class="col-12">
          <div class="text-center py-4 text-muted">
            <% if (searchTerm || (activeKategorie && activeKategorie !=='alle' )) { %>
              Keine Aufgabenpakete gefunden für die ausgewählten Filter
              <% } else { %>
                Noch keine Aufgabenpakete vorhanden
                <% } %>
          </div>
        </div>
        <% } else { %>

          <!-- PARTIAL: (intern) -->
          <% aufgabenpakete.forEach(paket=> { %>
              <%- include('./card', { paket }) %>
          <% }) %>

        <% } %>
    </div> 


    <!-- Lösch - Partial -->
      <%- include('../../partials/deleteModal', {
        modalId: 'confirmDeleteModal',
        formId: 'deleteConfirmForm',
        submitButtonId: 'confirmDeleteSubmit',
        title: 'Löschen bestätigen',
        bodyText: 'Bist du sicher, dass du dieses Aufgabenpaket löschen möchtest?'
      }) %>


    <script src="/js/app/utils/deleteModalUtils.js"></script>
    <script src="/js/app/aufgabenpaketeLogic.js"></script>