<% pageTitle="Challenges" %>

  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="h4 m-0">Challenges</h2>
    <a href="/challenges/new" class="btn btn-custom-newCategorieChallenge">+ Neue Challenge</a>
  </div>

  
  <!-- Filter und Suchfunktion -->
      <%- include('../../partials/filter_search', {

        showKlasse: false,
        showSchuljahr: true,
        showKategorie: true,
        showSearch: true,
        
        // Kategorie
        kategorien,
        activeKategorie,
        kategorieSelectId: 'kategorienFilter',

        // Schuljahr
        schuljahre,
        activeSchuljahr,
        schuljahrSelectId: 'schuljahrFilter',

        // Suche
        searchContainerId: 'searchContainer',
        searchInputId: 'challengesSearch',
        searchTerm
      }) %>


    <div class="table-responsive">
      <div class="row" id="challengesCardContainer">
        <% if (challenges && challenges.length===0) { %>
          <div class="col-12">
            <div class="card text-center py-4 text-muted">
              <div class="card-body">
                <% if (searchTerm || activeKategorie !=='alle' ) { %>
                  Keine Challenges gefunden für die ausgewählten Filter
                  <% } else { %>
                    Noch keine Challenges erstellt
                    <% } %>
              </div>
            </div>
          </div>
          <% } %>

            <% if (challenges && challenges.length> 0) { %>
              <% challenges.forEach(challenge=> { %>
                  <%- include('./card', {challenge}) %>
              
                <% }) %>
                  <% } %>
      </div>
    </div>

    <%- include('../../partials/deleteModal', { 
      modalId: 'confirmDeleteModal' , 
      formId: 'deleteConfirmFormChallenge' ,
      submitButtonId: 'confirmDeleteSubmitChallenge' , 
      title: 'Löschen bestätigen' ,
      bodyText: 'Bist du sicher, dass du diese Challenge löschen möchtest?' 
    }) %>


<script src="/js/app/utils/filterUtils.js"></script>
<script src="/js/app/utils/deleteModalUtils.js"></script>
<script src="/js/app/challengesLogic.js"></script>